.container {
    margin: 0 auto;
    margin-top: 70px;
    max-width: 600px;
}

.table {
    box-shadow: 0 0 8px -4px;
    border-collapse: collapse;
    width: 400px;
    margin: 0 auto;
}

.column {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.header {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #ccc;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.returnButton {
    text-align: center;
    padding: 8px 16px;
    background-color: #d2a451;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 8px 0px;
    border: 1px solid #d2a451;
    transition: 0.3s ease;
    display: block;
    min-width: 180px;
    margin: 0 12px;
    text-decoration: none;
}

.returnButton:hover {
    background-color: #fff;
    color: #d2a451;
}