.cart {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-right: 3%;
}
.custom-cart-header {
  text-align: right;
  padding: 5% 0 !important;
  font-weight: 500;
}
.custom-cart-header div:nth-child(2) {
  font-weight: normal;
  font-size: 90%;
  cursor: pointer;
}
.custom-cart-product {
  height: 100;
  padding: 0 1% !important;
}
.custom-cart-main {
  width: 73%;

}
.custom-cart-title {
  margin-bottom: 4%;
  font-size: 94%;

}
.custom-cart-detail {
  width: 100%;
  margin-bottom: 4%;
  font-size: 93%;
  color: #adaeae;
  padding-right: 3%;
}
.custom-cart-price {
  color: #8a733f;
  font-weight: 500;
  margin-bottom: 5%;
}
.custom-cart-inDeCrease {
  text-align: center;
}
.custom-cart-icon {
  font-size: 140% !important;
  color: #799dd9;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  
}