.custom-navbar {
  background-color: #8a733f !important;
  width: 100%;
  height: 60px;
  padding: 0;
  display: flex;
  margin-bottom: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-control {
  width: 300px;
  height: 40px;
  margin-left: -230% !important;
  justify-content: center !important;
  align-self: start !important;
  border-radius: 20px;
  border-radius: 20px 20px;
  border-radius: 20px 20px 20px;
  border-radius: 20px 20px 20px;
  border: none;
}
.custom-product-container hr {
  height: 0.5px;
  width: 100%;
  background-color: rgb(145, 143, 143);
}
.categories {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.categories p {
  padding-top: 10px;
  font-weight: bold;
}
.category-quantity {
  justify-content: space-between;
  cursor: pointer;
}
.category-quantity:hover {
  color: gray;
}
.category {
  font-size: 15px;
}
.quantity {
  text-align: right;
}
.custom-form-search {
  margin: 2%;
}
.custom-form-search .custom-form-input {
  width: 50%;
  padding: 1% 2%;
  border-radius: 20px;
  border-radius: 20px 20px;
  border-radius: 20px 20px 20px;
  border-radius: 20px 20px 20px;
  border: 1px solid #8a733f;
}
.products {
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-top: 10px;
}

.products p {
  margin: 2% 0;
  font-weight: bold;
  font-size: 110%;
}
.custom-cart-up {
  padding-left: 5%;
}
.custom-btn-pay {
  width: 90%;
  border-radius: 20px;
  border-radius: 20px 20px;
  border-radius: 20px 20px 20px;
  border-radius: 20px 20px 20px;
  background-color: #d8b979;
  margin-left: 5%;
  margin-bottom: 5%;
}
.custom-card-quantity {
  margin: 4% 0 8% 5%;
  align-items: center;
  font-weight: 600;
  color: #8a733f;
}

.custom-card-quantity img {
  width: 30px;
  height: 40px;
}
.custom-button-show-categories{
  display: none;
}
@media screen and (max-width: 750px) {
  .custom-card {
    width: 45% !important;
  }
  .categories {
    /* display: none !important; */
    width: 80%;
    position: fixed !important;
    left: 2% !important;
    bottom: 20%;
    z-index: 4;
    background-color: white !important;
    box-shadow: rgba(100, 100, 111, 0.2) 15px 7px 29px 0px;
  }
  .category-quantity .quantity{
    margin-top: -7%;
  }
  .cart {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 3;
    background-color: white !important;
    box-shadow: rgba(100, 100, 111, 0.2) 15px 7px 29px 0px;
  }
  .custom-card-quantity {
    margin-top: 8%;
  }
  .custom-cart-up {
    overflow: hidden;
    visibility: visible;
    padding-bottom: 16%;
  }
  .custom-cart-down {
    align-items: center;
    justify-content: space-between;
    height: 90px !important;
  }
  .custom-button-show-categories{
    display: flex;
    color: white;
    width: 40px;
    height: 40px;
    padding-left: 1.5%;
    border-radius:50%;
    text-align: center;
    align-items: center;
    background-color:red !important;
    position:fixed;
    z-index: 5;
    bottom: 15% !important;
    left: 2% !important;
    box-shadow: rgba(227, 117, 97, 0.2) 15px 7px 29px 0px;
  }
  .custom-button-show-categories .custom-list-icon{
    font-size: 30px !important;
    
    
  }
}
@media screen and (max-width: 990px) and (min-width: 768px) {
  .cart {
    position: fixed !important;
    bottom: 0 !important;
    margin-left: -1.7%;
    z-index: 3;
    background-color: white !important;
    box-shadow: rgba(100, 100, 111, 0.2) 15px 7px 29px 0px;
  }
  .custom-cart-up {
    overflow: hidden;
    visibility: visible;
  }
  .custom-cart-down {
    align-items: center;
    justify-content: space-between;
    height: 90px !important;
  }
}
