/* * {
    box-sizing: border-box;
} */

/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
} */

.wrap_popup_login_content {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./img/f4898cd66b50a40efd41.jpg) no-repeat center;
    background-size: cover;
}

.form_control {
    width: 300px;
    height: 40px;
    margin-left: 0 !important;
    justify-content: center !important;
    align-self: start !important;
    border-radius: 20px 20px 20px;
    border: none;
}

.popup_login_content {
    width: 550px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    padding: 24px 120px;
}

.popup-login_content {
    width: 550px;
    height: 500px;
    padding: 50px;
}

.logo_toco {
    margin-bottom: 40px;
    width: 200px;
    margin-bottom: 20px;
    vertical-align: middle;
    border-style: none;
}

/* img {
    vertical-align: middle;
    border-style: none;
} */

.register_description {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    display: none;
}

.popup_login_content input {
    background: 0 0;
    outline: unset;
    border: none;
    padding: 10px 0;
    font-size: 14px;
    width: 100%;
    outline: 0 !important;
    box-shadow: none;
}

.popup_login_input {
    text-align: center;
    background: 0 0;
    outline: unset;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #d6cdbc;
    width: 100%;
    outline: 0 !important;
    box-shadow: none;
}


/* input {
    margin-left: 500px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
} */


/* button,
select,
optgroup,
textarea {
    margin-left: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
} */

.input_err {
    color: red;
    font-style: italic;
    font-size: 12px;
    font-weight: 300;
    align-self: flex-start;
}

.err_nomatch {
    height: 18px;
}

.btn_yellow {
    background: #d8b979;
    box-shadow: 0 3px 25px 0 rgb(0 0 0 / 20%);
    color: #ffffff;
    margin-top: 10px;
    font-size: 14px;
    overflow: visible;
    min-height: 42px;
    height: auto;
    display: flex;
    line-height: normal;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 5px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}

.btn {
    margin-top: 10px;
    font-size: 14px;
    overflow: visible;
    min-height: 42px;
    height: auto;
    display: flex;
    line-height: normal;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 5px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
}

.sugget_text {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.link {
    font-weight: bold;
    color: #d4b774;
    margin-left: 8px;
    cursor: pointer;
}

/* a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
} */

.span_text {
    vertical-align: inherit;
}