.custom-card {
  width: 29%;
  margin: 5px 5px;
  cursor: pointer;
}
.products .custom-card {
  height: 240px;
}
.products .custom-card img {
  height: 60%;
}
.custom-card .card-body {
  width: 99%;
  padding: 1% 15%;
}
.products .card-title {
  width: 144% !important;
  height: 40%;
  font-size: 17px;
  margin-top: 2%;
  margin-left: -22%;
}
.custom-card .card-text {
  width: 150%;
  margin-left: -20%;
  color: #8a733f;
  font-weight: 600;
  text-align: center;
}
.custom-card .card-text del {
  width: auto !important;
  font-weight: 100 !important;
  color: black !important;
  font-size: 90%;
  margin-left: -4%;
}
.custom-card .card-icon {
  font-size: 90%;
  color: #799dd9;
}
